<script src="/unslider-min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
    $('.my-slider').unslider();
    var model = {
        list:ko.observableArray([]),
        curent:{
            id:ko.observable(),
            img:ko.observable(),
            url:ko.observable(),
            status:ko.observable()
        }
    }
    ko.applyBindings(model);
});
</script>
<div id="bannerManagerPage">
    <div class="my-slider">
        <ul>
            <li>My slide</li>
            <li>Another slide</li>
            <li>My last slide</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-1">选择图片:</div><div class="col-md-2"><input type="file" name="" /></div>
    </div>
</div>