<div id="newsList">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">{{.col.Title}}</li>
    </ol>
    <ul class="news-list">
        {{ range .news.List }}
        <li>
            <div class="news-info">
                <div class="title"><a target="_blank" href="/news/{{.Id.Hex}}">{{.Title}}</a></div>
                <div class="date">{{.PublishTime.Format "2006-01-02"}}</div>
                {{if .InOneMonth}}
                <div class="new">New</div>
                {{end}}
                <div class="tag">{{range split .Tags ","}}<span class="label label-default">{{.}}</span> {{end}}</div>
            </div>
            <div class="clearfix">
            </div>

            <div class="content"><a target="_blank" href="/news/{{.Id.Hex}}">{{textLimit (Html2Txt .Content) 210 "..."}}</a></div>
        </li>
        {{end}}
    </ul>
    <div class="clearfix"></div>
    <br/>
    <nav>
        <ul class="pagination">
            {{if eq .news.Page 1}}
            <li class="disabled">
                <span aria-hidden="true">&laquo;</span>
            </li>
            {{else}}
            <li>
                <a href="/column/{{$.id}}?id={{sub .news.Page 1}}" aria-label="上一页">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{end}}
            {{ range loop .news.PageCount 1 }}
            <li {{if eq . $.news.Page }}class="active"{{end}}><a href="/column/{{$.id}}?id={{.}}">{{.}}</a></li>
            {{ end }}
            {{if eq .news.Page .news.PageCount}}
            <li class="disabled">
                <span aria-hidden="true">&raquo;</span>
            </li>
            {{else}}
            <li>
                <a href="//column/{{$.id}}?id={{add .news.Page 1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{end}}
        </ul>
    </nav>
</div>