<script src="/unslider-min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        $('.my-slider').unslider({autoplay:true,delay:5000, speed:1000});
    });
</script>
<div class="banner">
    <div class="my-slider">
        <ul>
            <li><img src="/common/image?path=banner/20160906_112959_000.jpg" /></li>
            <li><img src="/common/image?path=banner/20160906_112959_001.jpg" /></li>
            <li><img src="/common/image?path=banner/20160906_112959_002.jpg" /></li>
            <li><img src="/common/image?path=banner/20160906_112959_003.jpg" /></li>
            <li><img src="/common/image?path=banner/20160906_112959_004.jpg" /></li>
        </ul>
    </div>
</div>
