<div ng-controller="tileController">
    <div class="btn-toolbar">
        <div class="btn-group-sm">
            <button class="btn btn-primary" ng-disabled="!addEnable" ng-click="add()">
                <span class="glyphicon glyphicon-plus"/>
                <span ng-if="addEnable">添加</span>
                <span ng-if="!addEnable">正在处理...</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="product-grid admin">
        <div class="col-md-4 product-grid item" ng-repeat="item in tile.Items">
            <a href="javascript:void(0)" class="b-link-stripe b-animate-go1 swipebox" title="">
                <button type="button" class="close" ng-click="removeTile($index)"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span><span class="sr-only">Close</span></button>
                <img ng-src="/common/image?path={{item.ImgPath}}" alt="" class="img-responsive" ng-if="item.ImgPath">
                <img ng-src="/images/18.jpg" alt="" class="img-responsive" ng-if="!item.ImgPath">
                <div class="button btn btn-info btn-sm upload" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-change="upload($file,$index)">
                    上传或替换图片</div>
            </a>
            <div class="project-grid-text1">
                <h4><a href="#" editable-text="item.Title">{{item.Title || '磁贴' + $index}}</a></h4>
                <p><a href="#" editable-text="item.Memo">{{item.Memo || '简介'}}</a></p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
